{{/*

    OLD: Takes in a date in format dd/mm/yyyy and tranlates to '2021 January' format.

    NEW: Takes in a date in format yyyy/mm/dd and translates to '2021 January' format.

*/}}


<!-- Lookup table -->
{{ $monthNumberToLongName := dict 
    "01" "January" "1" "January" 
    "02" "February" "2" "February" 
    "03" "March" "3" "March" 
    "04" "April" "4" "April" 
    "05" "May" "5" "May" 
    "06" "June" "6" "June" 
    "07" "July" "7" "July" 
    "08" "August" "8" "August" 
    "09" "September" "9" "September" 
    "10" "October" 
    "11" "November" 
    "12" "December" }}


{{ $monthNumberToShortName := dict 
    "01" "Jan" "1" "Jan" 
    "02" "Feb" "2" "Feb" 
    "03" "Mar" "3" "Mar" 
    "04" "Apr" "4" "Apr" 
    "05" "May" "5" "May" 
    "06" "Jun" "6" "Jun" 
    "07" "Jul" "7" "Jul" 
    "08" "Aug" "8" "Aug" 
    "09" "Sep" "9" "Sep" 
    "10" "Oct" 
    "11" "Nov" 
    "12" "Dec" }}


{{ $date := split . "/" }}
{{ $yyyy := index $date 0 }}
{{ $mm := index $date 1 }}

{{ $monthNameLong := index $monthNumberToLongName $mm }}    <!-- Translate month number to Name -->
{{ $dateFormattedLong := print $yyyy " " $monthNameLong }}      <!-- Format the date -->

{{ $monthNameShort := index $monthNumberToShortName $mm }}    <!-- Translate month number to Name -->
{{ $dateFormattedShort := print $yyyy " " $monthNameShort }}      <!-- Format the date -->


<!-- Return -->
<span class="long-date">{{ $dateFormattedLong }}</span>

<span class="short-date">{{ $dateFormattedShort }}</span>
