
<tr id="row-{{.id_index}}" 
    class="c-table-row main-sw-row  {{if .search_enable }} search-div tag-{{.category}} {{end}}" {{/* remove search processing on initial table */}}
    {{/*  Need to translate date into sortable format string like data-date="20210101" data-date="{{if .metadata.Params.release_date_on_arm}}  {{.metadata.Params.release_date_on_arm}}  {{else}}  {{.metadata.Params.}}" */}}
    data-title="{{.metadata.Params.name}}"
    onclick="rowClickHandler(this);">                              
    
   
    <td class="icon-col-width">
        {{/* Icon space */}}
        {{if .metadata.Params.vendor}}
            <i class="fa-solid fa-file-certificate commercial-icon-style"></i>
        {{end}}
    </td>


    <td class="search-title">
        <div class="package-name">
            {{ .metadata.Params.name }}
        </div>
    </td>
    
    
    <td>
        <div class="date-supported">
            {{if .metadata.Params.works_on_arm}}
                {{if .metadata.Params.release_date_on_arm}}  
                    {{ partial "package-display/_date-formating.html" .metadata.Params.release_date_on_arm }}
                {{else}}  
                    {{ partial "package-display/_date-formating.html" .metadata.Params.supported_minimum_version.release_date}}  
                {{end}}
            {{else}}
                Not yet supported
            {{end}}
        </div>
    </td>


    <td>
        <div class="download-link">
            {{if .metadata.Params.download_url}}
                <a href="{{ .metadata.Params.download_url}}" target="_blank">
                    <i class="fa-solid fa-download"></i>
                </a>
            {{else}}
                <a href="{{ .metadata.Params.product_url}}" target="_blank">
                    <i class="fa-solid fa-download"></i>
                </a>
            {{end}}
        </div>
    </td>

</tr>