<tr hidden="true">
    <td class='expanded-container' colspan="4">
        <div class="sw-information-grid">

            {{/*    Description, Category, GitHub link     */}}

            <section class="u-flex sw-information">
                <div class="section-single-col">
                    <div class="c-row" style="margin-bottom:8px;">
                        <div class="c-col c-col-12 sm:c-col-7 md:c-col-8" style="margin: 0px; padding: 0px;">
                            {{partial "package-display/_category_display.html" .metadata.Params.category}}
                        </div>
                        <div class="c-col u-hide sm:u-display-block sm:c-col-5 md:c-col-4" style="margin: 0px; padding: 0px; text-align: right;">
                            {{partial "eco-dashboard/github-links.html" .metadata  }}
                        </div>
                        <div class="c-col u-display-block sm:u-hide c-col-12" style="margin: 0px; margin-top: 8px; padding: 0px;">
                            {{partial "eco-dashboard/github-links.html" .metadata  }}
                        </div>
                    </div>
                    
                    {{.metadata.Params.description }}
                </div>
            </section>
            <section class="u-flex sw-information">
                <div class="field">
                    Works on Arm?
                    <ads-tooltip class="version-tooltip" position="bottom" content-width="300px;" label="Tooltip that opens on hover" >
                        <div slot="content">
                            {{- if not .metadata.Params.vendor}}
                            Version listed is the first version we located that enabled support for Arm servers (with Neoverse IP).
                            <br>
                            It was sourced from release notes, aarch64 binary availability, and/or manual validation.
                            <br><br>
                            {{- end -}}
                            {{- if .metadata.Params.optional_info.arm_recommended_minimum_version.version_number -}}
                                The recommended version is when the package delivers good/great performance on Arm servers. This is a subjective measure by Arm, coming from first-hand experimentation.
                                <br><br>
                            {{- end -}}
                            For best performance and security, always use the lastest version when possible.
                        </div>
                    </ads-tooltip>
                </div>                               
                <div class="description">
                    {{- if .metadata.Params.works_on_arm -}}
                        {{if .metadata.Params.vendor}}
                            Yes, {{.metadata.Params.name}} works on Arm Linux servers from {{- partial "package-display/_inline-date-formating.html" .metadata.Params.release_date_on_arm -}}, supported by {{.metadata.Params.vendor}}.
                        {{else}}
                            Yes, {{.metadata.Params.name}} works on Arm Linux servers starting from <span class="version-number">version {{.metadata.Params.supported_minimum_version.version_number}}</span> 
                            released in {{- partial "package-display/_inline-date-formating.html" .metadata.Params.supported_minimum_version.release_date -}}.
                        {{end}}
                        {{if .metadata.Params.optional_info.alternative_options}}
                            <br><br>
                            For context, an alternative package that also works on Arm is 
                                <a href="{{.RelPermalink}}?package={{.metadata.Params.optional_info.alternative_options | urlize}}">{{.metadata.Params.optional_info.alternative_options }}</a>.
                        {{end}}
                    {{- else -}}
                        No, {{.metadata.Params.name}} does not yet work on Arm Linux servers. 
                        {{if .metadata.Params.optional_info.alternative_options}}
                        An alternative that does work on Arm is 
                            <a href="{{.RelPermalink}}?package={{.metadata.Params.optional_info.alternative_options | urlize}}">{{.metadata.Params.optional_info.alternative_options }}</a>.
                        {{else}}
                            {{partial "eco-dashboard/github-alternative-suggestion.html" .metadata  }}
                        {{end}}
                    {{- end -}}

                    <br>
                    {{if .metadata.Params.optional_info.arm_recommended_minimum_version.version_number}}
                    <br>
                        For best performance Arm recommends <span class="version-number">version {{.metadata.Params.optional_info.arm_recommended_minimum_version.version_number}}</span> and above, released in {{- partial "package-display/_inline-date-formating.html" .metadata.Params.optional_info.arm_recommended_minimum_version.release_date -}}. <a target="_blank" href="{{.metadata.Params.optional_info.arm_recommended_minimum_version.reference_content}}">Read this reference</a> to review the recommendation rationale.        
                    {{end}}
                </div>
            </section>
               
            {{/*    Support Caveats     */}}
            {{if .metadata.Params.optional_info.support_caveats}}
                <section class="u-flex sw-information">
                    <div class="field">Support Notes</div>                               
                    <div class="description">
                        {{.metadata.Params.optional_info.support_caveats | markdownify  }}
                    </div>
                </section>
            {{end}}


            {{/*    Quick Start Guides     */}}          
            {{ if or (isset .metadata.Params.optional_info.getting_started_resources "arm_content") (isset .metadata.Params.optional_info.getting_started_resources "partner_content") (isset .metadata.Params.optional_info.getting_started_resources "vendor_announcement") (isset .metadata.Params.optional_info.getting_started_resources "official_docs") }}
                <section class="u-flex sw-information">
                    <div class="field">Quick-start guides</div>                               
                    <div class="description">
                        {{ with .metadata.Params.optional_info.getting_started_resources }}
                            <ul>
                            {{if .arm_content}}
                                <li><a class="getting-started-resource" data-source-type="arm-guide" target="_blank" href="{{.arm_content}}">Arm guide</a>
                                <br>
                            {{end}}
                            {{if .partner_content}}
                                <li><a class="getting-started-resource" data-source-type="partner-content" target="_blank" href="{{.partner_content}}">Cloud Service Provider guide</a>
                                <br>
                            {{end}}
                            {{if .vendor_announcement}}
                                <li><a class="getting-started-resource" data-source-type="vendor-announcement" target="_blank" href="{{.vendor_announcement}}">Vendor announcement of Arm support</a>
                                <br>
                            {{end}}
                            {{if .official_docs}}
                                <li><a class="getting-started-resource" data-source-type="official-docs" target="_blank" href="{{.official_docs}}">Official documentation</a>
                            {{end}}
                            </ul>
                        {{end}}
                    </div>
                </section>
            {{ end }}
        </div>
    </td>
</tr>