<tr hidden="true">
    <td class='expanded-container' colspan="4">
        <div class="sw-information-grid">

            {{/*    Description, Category, GitHub link     */}}
            <section class="u-flex sw-information">
                <div class="section-single-col">
                    <table class="align-table" width="100%" style="width: 100%; border-collapse: collapse; margin: 0px; padding: 0px;">
                        <tr>
                            <td style="width:75%; margin: 0px; padding: 0px;">
                                {{partial "package-display/_category_display.html" .metadata}}
                            </td>
                            <td style="margin: 0px; padding: 0px;">
                                {{partial "eco-dashboard/github-links.html"  }}
                            </td>
                        </tr>
                    </table>                                          
                    {{.metadata.Params.description }}
                </div>
            </section>

            {{/* DOES WORK ON ARM CATEGORIES */}}
            {{if .metadata.Params.works_on_arm}}
         
                {{if .metadata.Params.vendor}}
                    {{/*    Vendor (Commercial)     */}}
                    <section class="u-flex sw-information">
                        <div class="field">Vendor</div>                               
                        <div class="description">
                            {{.metadata.Params.vendor}}
                        </div>
                    </section>
                {{else}}
                    {{/*    Version (Opensource)     */}}
                    <section class="u-flex sw-information">
                        <div class="field">Versions supported</div>                               
                        <div class="description">
                            <span class="version-number">{{.metadata.Params.supported_minimum_version.version_number}}</span> is the minimum version effective on Arm servers. <br>

                            {{if .metadata.Params.optional_info.arm_recommended_minimum_version.version_number}}
                                For best performance and security, Arm recommends version <span class="version-number">{{.metadata.Params.optional_info.arm_recommended_minimum_version.version_number}}</span>+.
                            {{else}}
                                For best performance and security, always use the lastest version when possible.
                            {{end}}

                        </div>
                    </section>
                {{end}} {{/* End commercial vs opensource */}}
               
                {{/*    Support Caveats     */}}
                {{if .metadata.Params.optional_info.support_caveats}}
                    <section class="u-flex sw-information">
                        <div class="field">Support Notes:</div>                               
                        <div class="description">
                            {{.metadata.Params.optional_info.support_caveats | markdownify  }}
                        </div>
                    </section>
                {{end}}


                {{/*    Quick Start Guides     */}}          
                {{ if or (isset .metadata.Params.optional_info.getting_started_resources "arm_content") (isset .metadata.Params.optional_info.getting_started_resources "partner_content") (isset .metadata.Params.optional_info.getting_started_resources "vendor_announcement") (isset .metadata.Params.optional_info.getting_started_resources "official_docs") }}
                    <section class="u-flex sw-information">
                        <div class="field">Quick-start guides</div>                               
                        <div class="description">
                            {{ with .metadata.Params.optional_info.getting_started_resources }}
                                <ul>
                                {{if .arm_content}}
                                    <li><a target="_blank" href="{{.arm_content}}">Arm guide</a>
                                    <br>
                                {{end}}
                                {{if .partner_content}}
                                    <li><a target="_blank" href="{{.partner_content}}">Cloud Service Provider guide</a>
                                    <br>
                                {{end}}
                                {{if .vendor_announcement}}
                                    <li><a target="_blank" href="{{.vendor_announcement}}">Vendor announcement of Arm support</a>
                                    <br>
                                {{end}}
                                {{if .official_docs}}
                                    <li><a target="_blank" href="{{.official_docs}}">Official documentation</a>
                                {{end}}
                                </ul>
                            {{end}}
                        </div>
                    </section>
                {{ else}}
                {{ end }}
              

            {{else}} {{/* If DOES NOT work on Arm */}}

                {{/*    Alternative options     */}}
                <section class="u-flex sw-information">
                    <div class="field">Alternative package options</div>
                    <div class="description">
                        {{if .metadata.Params.optional_info.alternative_options}}
                            {{.metadata.Params.optional_info.alternative_options }}
                        {{else}}
                            {{partial "eco-dashboard/github-alternative-suggestion.html" .  }}
                        {{end}}
                    </div>
                </section>
            {{end}}
        </div>
    </td>
</tr>