<table class="c-table is-selectable" cellspacing="0">
    <thead>
        <tr>
            <th>{{/* Save space for commercial icon */}}</th>
            <th>Package name</th>
            <th>Supported since</th>
            <th>Download link</th>
        </tr>
    </thead>
        <tbody id="sw-tablebody">
            {{ $id_index := 0}}
            {{ range . }}
                
                {{ $id_index = add $id_index 1 }}
                {{ $temp := replace .Params.category "/" "__" }}                     {{/* URLIZE with changing / to - of category names */}}
                {{ $category_urlized := $temp | urlize }}
            
                {{ partial "package-display/row-main.html" (dict "metadata" . "id_index" $id_index "category" $category_urlized)}}
                {{/*             {{ partial "package-display/row-sub.html" $recent_packages}} */}}

            {{end}}



        </tbody>
    </table>