<div class="table-containers">
    <table cellspacing="0" class="c-table is-selectable">
        <thead>
            <tr>
                <th style="background-color: #{{.context.Params.backgroundColor}}" class="col-header col-1-icon">{{/* Save space for commercial icon */}}</th>
                <th style="background-color: #{{.context.Params.backgroundColor}}" class="col-header col-2-name">Package name (click to expand row)</th>
                <th style="background-color: #{{.context.Params.backgroundColor}}" class="col-header col-3-date"><span class="desktop-col-3-text">Supported since</span><span class="mobile-col-3-text">On Arm since</span></th>
                <th style="background-color: #{{.context.Params.backgroundColor}}" class="col-header col-4-download">Download</th>
            </tr>
        </thead>
        <tbody id="sw-tablebody">
            {{ $id_index := 0}}
            {{ range .packages }}
                
                {{ $id_index = add $id_index 1 }}

            
                {{ partial "package-display/row-main.html" (dict "metadata" . "id_index" $id_index "category" .Params.category "search_enable" $.search_enable) }}
                {{ partial "package-display/row-sub.html" (dict "metadata" . "id_index" $id_index "category" .Params.category)}}

            {{end}}



        </tbody>
    </table>
</div>