<table cellspacing="0" class="c-table is-selectable">
    <thead>
        <tr>
            <th class="col-header col-1-icon">{{/* Save space for commercial icon */}}</th>
            <th class="col-header col-2-name">Package name</th>
            <th class="col-header col-3-date">Supported since</th>
            <th class="col-header col-4-download">Download</th>
        </tr>
    </thead>
        <tbody id="sw-tablebody">
            {{ $id_index := 0}}
            {{ range .packages }}
                
                {{ $id_index = add $id_index 1 }}
                {{ $temp := replace .Params.category "/" "__" }}                     {{/* URLIZE with changing / to - of category names */}}
                {{ $category_urlized := $temp | urlize }}
            
                {{ partial "package-display/row-main.html" (dict "metadata" . "id_index" $id_index "category" $category_urlized "search_enable" $.search_enable)}}
                {{ partial "package-display/row-sub.html" (dict "metadata" . "id_index" $id_index "category" $category_urlized)}}

            {{end}}



        </tbody>
    </table>