{{/*
  Defines the Masthead element. Must be loaded dynamically by ADS, so a height placeholder also put in to avoid jumping.
  
  Where it is used:
      - all, called from baseof
  */}}
  
  <!-- No masthead on homepage, as that has a special gradient look/feel -->
<div id="global-nav-height-fixer" class="nav-black">
    <arm-top-navigation></arm-top-navigation>
</div>
<div id="only-breadcrumb-masthead">
    <div class="is-responsive-width">
        {{partial "header/breadcrumbs.html" .}}
    </div>
</div>
