{{/*
Displays the search status under the search bar: active filters, what is being sorted, and how many results are displaying.

Where it is used:
    - List pages (term, learning path, install guides)

Called from:
    - _default/term.html
    - learning-paths/list.html
    - filter-search-sort/mobile-search-and-filter.html

*/}}

<div id="current-tag-bar">
    <span>
        <span id="tag-preface">Active Filters: </span>
    </span>
        <!-- If always present -->
        <ads-tag id="filter-tag-all" class="filter-facet group-license u-margin-left-1/2 u-margin-top-1/2 u-margin-bottom-1/2">
            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                <div id="filter-facet-display-name-group-license" class="filter-facet-display-name">License: All</div>
            </span>
        </ads-tag>
        <ads-tag id="filter-tag-all" class="filter-facet group-category u-margin-left-1/2 u-margin-top-1/2 u-margin-bottom-1/2">
            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                <div id="filter-facet-display-name-group-category" class="filter-facet-display-name">Category: All</div>
            </span>
        </ads-tag>

    <!-- This area is filled dynamically by javascript & checkboxes -->
    {{/* Not needed for radio behavior 
    <span  id="tag-clear-btn" hidden onclick="clearAllFilters()">
        Clear Filters
    </span>
    */}}
</div>

<!-- Current results & sorting bar -->
<div id="result-sort-div">
    <div id="results-status-bar">
        <!-- Automatically updates the currently shown number span based on dynamic filtering -->
        Displaying 
        <span id="currently-shown-number" class="num-of-paths-text">{{len .initial_display_packages }}</span>
        of 
        <span id="total-shown-number" class="num-of-paths-text">{{len .all_packages }}</span>
        packages.
    </div>

    <!-- Sorting display -->
    {{/* 
    {{- if ne .page_type "tools" -}}
        <div id="sorting-bar">
            <span class="sorting-criteria active">Date</span>
        </div>
    {{- end -}}
    */}}
</div>