<!-- GitHub links calculated from GitHub repo, defined in config.toml -->
{{ $gh_repo := site.Params.github_repo -}}
{{ $gh_branch := (default "main" site.Params.github_branch) -}}
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}

{{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path -}}

<!-- Display github elements -->

<a class="github-issue-update-link" href="{{ $editURL }}" target="_blank" style="text-decoration: none;">
    <p class="github-link">
        <span>
            <i class="left-hand-icon fa-brands fa-github"></i>
            Issues? Update here.
        </span>
    </p>
</a>