<div id="info-top-div">
    <div class="c-row">
        <div class="c-col md:c-col-12 lg:c-col-8 xxl:c-col-9">
            Migrating your workloads to Arm? 
            Discover what software packages work on Arm, the supported versions, and helpful resources. 
            Read the contribution guidelines on GitHub to understand how packages are added.
            <span id="tooltip-custom-trigger"><u>Legal disclaimer here.</u></span>
            <ads-tooltip id="tooltip-legal" class="version-tooltip"  position="bottom" content-width="300px;" label="Tooltip with custom trigger">
            <div slot="content">
                Please note that the data collated on this site is sourced from Arm and third parties.<br>
                While Arm uses reasonable efforts to keep this dashboard accurate, Arm does not warrant (express or implied) or provide any guarantee of data correctness due to the ever-evolving software landscape.  </div>
            </ads-tooltip>
            <br>
            <ads-cta-button id="github-link" class="u-margin-top-1" size='small' level="tertiary">Request or Contribute on GitHub</ads-cta-button>
            <ads-cta-button id="switch-dashboards" class="u-margin-top-1" size='small' level="tertiary">
                {{if eq . "Linux"}}
                    Windows on Arm Software Dashboard
                {{else if eq . "Windows"}}
                    Linux on Arm Software Dashboard
                {{else}}
                    
                {{end}}
            </ads-cta-button>

        </div>
    </div>
</div>


<script>
    document.getElementById('tooltip-legal').customTriggerEl = document.getElementById('tooltip-custom-trigger');

    // Add event listener on click of switch-dashboards ads-cta button to navigate to appropriate dashboard
    document.getElementById('switch-dashboards').addEventListener('click', function() {
        {{if eq . "Linux"}}
            window.location.href = '{{ "/windows/" | relURL }}';
        {{else if eq . "Windows"}}
            window.location.href = '{{ "/linux/" | relURL }}';
        {{else}}
            
        {{end}}
    });

    document.getElementById('github-link').addEventListener('click', function() {
        window.open('{{site.Params.github_repo}}', '_blank');
    });


</script>