<div id="info-top-div">
    <div class="c-row">
        <div class="c-col md:c-col-12 lg:c-col-8 xxl:c-col-9">
            Migrating your workloads to Arm servers? Explore this list of packages that work on Arm alongside helpful context.
            Driven by community contributions, this list is actively growing to show an accurate picture of what currently works on Arm.
        </div>
        <div class="c-col u-hide lg:u-display-block lg:c-col-4 xxl:c-col-3" style="margin:auto; text-align: center;">
            <ads-cta-link id="contribute-link-to-readme" link='{{printf "%s/%s" site.Params.github_repo "blob/main/README.md"}}' target="_blank">
                <span>Request or Contribute a package</span>
            </ads-cta-link>
        </div>        
        <div class="c-col u-display-block lg:u-hide c-col-12 u-margin-top-1/2">
            <ads-cta-link id="contribute-link-to-readme" link='{{printf "%s/%s" site.Params.github_repo "blob/main/README.md"}}' target="_blank">
                <span>Request or Contribute a package</span>
            </ads-cta-link>
        </div>   
    </div>
</div>
