<div id="info-top-div">
    <div class="c-row">
        <div class="c-col md:c-col-12 lg:c-col-8 xxl:c-col-9">
            Migrating your workloads to Arm? 
            Discover what software packages work on Arm, the supported versions, download links, and quick-start resources. 
            For more details, read the contribution guidelines on GitHub to understand how packages are added.
            <br>
            <span id="tooltip-custom-trigger"><u>Legal disclaimer here.</u></span>
            <ads-tooltip id="tooltip-legal" class="version-tooltip"  position="bottom" content-width="300px;" label="Tooltip with custom trigger">
            <div slot="content">
                Please note that the data collated on this site is sourced from Arm and third parties.<br>
                While Arm uses reasonable efforts to keep this dashboard accurate, Arm does not warrant (express or implied) or provide any guarantee of data correctness due to the ever-evolving software landscape.  </div>
            </ads-tooltip>
            <script>
            document.getElementById('tooltip-legal').customTriggerEl = document.getElementById('tooltip-custom-trigger');
            </script>
        </div>
        <div class="c-col u-hide lg:u-display-block lg:c-col-4 xxl:c-col-3" style="margin:auto; text-align: center;">
            <ads-cta-link id="contribute-link-to-readme" link='{{printf "%s/%s" site.Params.github_repo "#readme"}}' target="_blank">
                <span>Request or Contribute on GitHub</span>
            </ads-cta-link>
        </div>        
        <div class="c-col u-display-block lg:u-hide c-col-12 u-margin-top-1/2">
            <ads-cta-link id="contribute-link-to-readme" link='{{printf "%s/%s" site.Params.github_repo "#readme"}}' target="_blank">
                <span>Request or Contribute on GitHub</span>
            </ads-cta-link>
        </div>   
    </div>
</div>
