<script>
    document.getElementById('filter-cta').addEventListener('click', function() {

        // To determine behavior, check if on mobile (if filter-button component is displayed and can thus be expanded)
        var element = document.getElementById('filter-button');
        var displayStyle = window.getComputedStyle(element).display;
        
        if (displayStyle !== 'none') {
           
            /* do not auto-trigger categories opening, just a stranged forced dynamic. Show them where the filter is, that's enough.
            var filter_button = document.getElementById('filter-button');
            mobileFilterClickedSearch(filter_button);
            var category_element = document.getElementById('mobile-filters');
            */

            // trigger opening of mobile filters
            var category_element = document.getElementById('filter-button');

            // force focus to top of element via smooth scroll
            var rect = category_element.getBoundingClientRect(); // position relative to current viewport
            var scrollPosition = window.pageYOffset + rect.top - 100; // scrolls 100px above element
            window.scrollTo({
                top: scrollPosition,
                behavior: 'smooth'
            });

            // highlight the category filter box
            category_element.classList.add('pulse');

            // Remove the class after animation is done.
            category_element.addEventListener('animationend', function() {
                category_element.classList.remove('pulse');
            },  { once: true }); // Remove listener after called, cleaning up after ourselves

        }
        else {
            var category_element = document.getElementById('desktop-filters');

            // force focus to top of element via smoth scroll (100px to account for sticky global nav)
            var rect = category_element.getBoundingClientRect(); // position relative to current viewport
            var scrollPosition = window.pageYOffset + rect.top - 100; // scrolls 100px above element
            window.scrollTo({
                top: scrollPosition,
                behavior: 'smooth'
            });

            // highlight the category filter box
            category_element.classList.add('pulse');

            // Remove the class after animation is done.
            category_element.addEventListener('animationend', function() {
                category_element.classList.remove('pulse');
            },  { once: true }); // Remove listener after called, cleaning up after ourselves
        }
        
    });

    document.getElementById('search-cta').addEventListener('click', function() {
        // pulse search bar
        var search_element = document.getElementById('search-box');

        // force focus to top of element via smoth scroll (100px to account for sticky global nav)
        var rect = search_element.getBoundingClientRect(); // position relative to current viewport
        var scrollPosition = window.pageYOffset + rect.top - 100; // scrolls 100px above element
        window.scrollTo({
            top: scrollPosition,
            behavior: 'smooth'
        });

        // highlight the category filter box
        search_element.classList.add('pulse');

        // Remove the class after animation is done.
        search_element.addEventListener('animationend', function() {
            search_element.classList.remove('pulse');
        },  { once: true }); // Remove listener after called, cleaning up after ourselves
    });

    document.getElementById('browse-cta').addEventListener('click', function() {
        // set to browse mode
        setToBrowse();
    });
</script>