<div class="homepage-top-divs" id="title-div">
    <span>
        {{/* 
        <p id="homepage-header" class="orchard-breeze-text">Software Ecosystem Dashboard for Arm</p>
        <br>
        <h1 id="h1-header-product">Discover Software that Works on Arm Servers</h1>
        */}}
        <h1 id="homepage-header" style="color: #{{.Params.textColor}}">{{.Params.title}}</h1>
        {{if eq .Params.os "Windows"}}
        <p class="subtitle-p">For AI workloads and applications, with supporting frameworks and developer tools</p>
        {{else}}
        <p class="subtitle-p">For AI across Cloud, Data Center, Edge, and Networking</p>
        {{end}}
    </span>
</div>
