{{/* 
    Returns a urlized string, plus two other custom modifications:
        "/" --> "__" to allow for sending text like "AI/ML" 
        "&" --> "and" to allow for sending text like "OS & Languages"

        Both changes are done to enable text to go into classes and ids of DOM components without breaking the page.

        Output examples:
            "AI/ML/HPC" --> "ai__ml__hpc"
            "OS & Languages" --> "os-and-languages"
*/}}


{{- $temp_one := replace . "/" "__" -}}
{{- $temp_two := replace $temp_one "&" "and" -}}
{{- $urlized_custom_string_output := $temp_two | urlize -}}

{{- $urlized_custom_string_output -}}