
:root {
    --background-color-normal: var(--arm-color-footing);
    --border-color-normal: var(--arm-color-overlay-light);
    --dropdown-left: var(--arm-color-surface);
    --dropdown-right: var(--arm-color-base);

    --background-color-hover-click: var(--arm-black);
    --border-color-click: var(--arm-web-safe-blue);
    --border-color-hover: var(--arm-green);
    
    --border-color-pinned: var(--arm-light-blue);
}





#sticky-search {
    position: sticky;
    /*top: 70px; */
    background-color: var(--background-color-normal); /* Change the background color as needed */
    padding: 10px;
    z-index: 3; /* Adjust the z-index as needed to control stacking */
}




#homepage-header {
    margin-top: 0px;
    margin-bottom: 0px;
/*    font-size: 75px; */
    padding-bottom: 16px;
    display: inline-block;
}

p.github-link        { 
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--arm-web-safe-blue);
    text-decoration: none;
}

html[theme='dark'] p.github-link        { 
    color: var(--arm-light-blue);
}
html[theme='dark'] p.github-link:hover {
    color: var(--arm-green);
}


/******************************************************************/
/******************************************************************/

                    /* CONTENT STYLING */

/******************************************************************/
/******************************************************************/

.package-name {
    font-size: 26px!important;

}


.version-number {
    font-weight: bold;
    display: inline-block;
    text-align: left; /* Aligns the text to the right of the span */
}


table.align-table tr td {
    cursor:default;
    border-top: 0;
}
table.align-table tr:hover td {
    background-color: var(--dropdown-right);
}




/******************************************************************/
/******************************************************************/

                    /* TABLE STYLING */

/******************************************************************/
/******************************************************************/
#title-row th {
    
}

#stack-info-cell {
    background-color: var(--arm-dark-blue)!important;
}





.rotated {
    transform: rotate(45deg);
}

/* default state */
.fa-thumbtack.rotated {
    color: var(--arm-dark-grey);
}
/* when pinned */
.fa-thumbtack {
    padding: 16px; /* increase clickable area around icon */
    color: var(--arm-light-blue);
}

.fa-thumbtack:hover {
    color: var(--arm-green);
}



/* Table styles */
/* 5 main row states, in order of css priority ->
    1. SW row in state: default
    2. SW row in state: pinned
    3. SW row in state: clicked 
    4. SW row in state: hover   (while in default state)
    5. SW row in state: hover   (while in pinned state)
    6. SW row in state: hover   (while in clicked state)
*/


table {
    --ads-table-background-color: var(--background-color-normal);
    --ads-table-border-color: var(--border-color-normal);
}

/* 1. Default state */
tr.main-sw-row td {
    border-top-width: 4px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    --ads-table-border-color: var(--border-color-normal);
}

/* 2. Pinned state */
tr.main-sw-row--pinned td {
    background-color: var(--background-color-hover-click);
    border-top: 4px solid var(--border-color-pinned);
    border-bottom: 1px solid var(--border-color-pinned);
}
tr.main-sw-row--pinned td:first-child {
    border-left: 1px solid var(--border-color-pinned); 
}
tr.main-sw-row--pinned td:last-child {
    border-right: 1px solid var(--border-color-pinned);
}

/* 3. Clicked state */
tr.main-sw-row--clicked td {
    background-color: var(--background-color-hover-click);
    border-top: 4px solid var(--border-color-click);
    border-bottom: 0px;
}
tr.main-sw-row--clicked td:first-child {
    border-left: 1px solid var(--border-color-click); 
}
tr.main-sw-row--clicked td:last-child {
    border-right: 1px solid var(--border-color-click);
}


/* 4. Hover state (over default state) */
tr.main-sw-row:hover td {
    background-color: var(--background-color-hover-click);
    cursor: pointer;

    border-top: 4px solid var(--border-color-hover);
    border-bottom: 1px solid var(--border-color-hover);
}
tr.main-sw-row:hover td:first-child {
    border-left: 1px solid var(--border-color-hover); 
}
tr.main-sw-row:hover td:last-child {
    border-right: 1px solid var(--border-color-hover);
}


/* 5 Hover state (over pinned state) */
tr.main-sw-row--pinned:hover td {
    background-color: var(--background-color-hover-click);
    border-top: 4px solid var(--border-color-pinned);
    border-bottom: 1px solid var(--border-color-pinned);
}
tr.main-sw-row--pinned:hover td:first-child {
    border-left: 1px solid var(--border-color-pinned); 
}
tr.main-sw-row--pinned:hover td:last-child {
    border-right: 1px solid var(--border-color-pinned);
}

/* 6. Hover state (over clicked state) */
tr.main-sw-row--clicked:hover td {
    background-color: var(--background-color-hover-click);
    border-top: 4px solid var(--border-color-click);
    border-bottom: 0px;
}
tr.main-sw-row--clicked:hover td:first-child {
    border-left: 1px solid var(--border-color-click); 
}
tr.main-sw-row--clicked:hover td:last-child {
    border-right: 1px solid var(--border-color-click);
}



/* expaneded container */
/*-----------------------------------------*/
td.expanded-container {
    padding: 0px;
    border: 1px solid var(--border-color-click);
}
td.expanded-container .sw-information {
    border-top: 1px solid var(--border-color-normal);
}
td.expanded-container .sw-information .field {
    width: 40%;
    padding: 12px 26px;
    background-color: var(--dropdown-left);
    font-weight: 700;
}
td.expanded-container .sw-information .description {
    width: 80%;
    padding: 12px 24px;
    background-color: var(--dropdown-right);
    border-right: 1px solid var(--border-color-click);

}
td.expanded-container .sw-information .section-single-col {
    width: 100%;
    padding: 12px 24px;
    background-color: var(--dropdown-right);
    border-right: 1px solid var(--border-color-click);

}


.expanded-container {

}


/*  ADS Table CSS Components
  --ads-table-background-color: #27292d;
  --ads-table-border-color: #27292d;
  --ads-table-color: var(--ads-color,hsla(0,0%,100%,.9));
  --ads-table-color-striped: var(--ads-color,hsla(0,0%,100%,.9));
  --ads-table-color-transparent: var(--ads-color,hsla(0,0%,100%,.9));
  --ads-table-caption-color: #fff;
  --ads-table-column-background-color-sticky: #27292d;
  --ads-table-heading-background-color: #00c1de;
  --ads-table-heading-background-color-greyscale: #383b40;
  --ads-table-heading-background-color-transparent: transparent;
  --ads-table-heading-border-color-sticky: #27292d;
  --ads-table-heading-color: #333e48;
  --ads-table-heading-color-greyscale: #fff;
  --ads-table-heading-color-transparent: var(--ads-color,hsla(0,0%,100%,.9));
  --ads-table-row-background-color-selectable-hover: #383b40;
  --ads-table-row-background-color-selected: #383b40;
  --ads-table-row-background-color-striped: #2d2f34;
  --ads-table-row-border-color-selected: #00c1de;
*/















/******************************************************************/
/******************************************************************/

                    /* MAP SECTION STYLING */

/******************************************************************/
/******************************************************************/



ads-card.map-container-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
    --ads-card-background-color: var(--arm-color-footing);
    --ads-card-border-color: #000000;
    --ads-card-box-shadow:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
    
    /* hover state */
    --ads-card-background-color-hover: var(--arm-color-base);
    --ads-card-border-color-hover: transparent;
    --ads-card-box-shadow-hover:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
}

ads-card.map-container-card:hover  .title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-green);
}
ads-card.map-container-card:hover  .sw-map-tag {
    --ads-tag-background-color: var(--arm-color-footing);

}

.title {
    color: var(--arm-light-blue);
    font-weight: 500;

    margin-top: 0px;
    margin-bottom: 4px;
}





/******************************************************************/
/******************************************************************/

                    /* STACK SECTION STYLING */

/******************************************************************/
/******************************************************************/
  .stack-column-div {
    /* Ensures right-hand column filter is always at a consistent width (hidden at mobile size via ads) */
    width: 320px;
    max-width: 320px;

    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    margin-top: 16px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    border-color: rgba(163, 168, 174,0.25); /* #A3A8AE at 25% transparency */
    background-color: rgba(31,32,35,0.75);  /* var(--arm-color-base) at 75% transparency */

}

ads-card.stack-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;

    --ads-card-background-color: var(--arm-color-footing);
    --ads-card-border-color: #000000;
    --ads-card-box-shadow:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
    
    /* hover state */
    --ads-card-background-color-hover: var(--arm-black);
    --ads-card-border-color-hover: var(--arm-green);
    --ads-card-box-shadow-hover:  #000 @50%, X:0 Y: 3 B:12; /* probably not working */
}
ads-card.stack-card:hover {
    cursor: pointer;
}

.stack-title {
    color: var(--arm-light-blue);
    /*font-weight: bold;
    font-size:1.25rem;
    */
    font-weight: 500;

    margin-top: 0px;
    margin-bottom: 4px;
}
ads-card.stack-card:hover  .stack-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-green);
}








