{{/*
Sets the page parameters that social media will read for a preview of this webpage. Highly dependent on page to optimize viewing.

Where it is used:
    - all, called from baseof
*/}}


<!-- Basics -->
<meta property="og:url" content="{{ .Site.Params.arm_url }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">

<!-- Title -->
<meta property="og:title"  content="{{.Site.Params.title}}">
<meta name="twitter:title" content="{{.Site.Params.title}}">

<!-- Description -->
<meta property="og:description"  content="{{.Site.Params.description}}">
<meta name="twitter:description" content="{{.Site.Params.description}}">
<meta name="description" content="{{.Site.Params.description}}">

<!-- Image (2x1 aspect ratio, less than 5Mb) -->
{{ $social_image_url := printf "%s%s" .Site.Params.arm_url .Site.Params.social_image }}
<meta name="twitter:image" content="{{ $social_image_url }}">
<meta property="og:image"  content="{{ $social_image_url }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">

<!-- Author / Creator -->
<meta name="author" content="Arm">
<meta name="twitter:creator" content="{{.Site.Params.twitter_handle}}">